.container {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    background-color: rgb(230, 225, 236);
}

.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.heading {
    color: rgb(136, 91, 167);
    font-weight: bolder !important;
}

.backButton {
    color: rgb(77, 46, 97);
    scale: 1.2;
}

.body {
    width: 80%;
}

.note {
    color: rgb(58, 49, 63);
} 